[core]
  editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[color]
  ui = auto

[user]
  email = {{ .mail_working }}
  name = Oktavius Wiesner
[credential]
	helper = cache
[init]
	defaultBranch = main
