[core]
  editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[color]
  ui = auto

[user]
{{- if eq .chezmoi.hostname "143302S0" }}
  email = {{ .email_work }}
{{ else }}
  email = {{.email_private }}
{{- end }}
  name = Oktavius Wiesner

[credential]
	helper = cache
[init]
	defaultBranch = main
