{{- if eq .chezmoi.hostname "162579s0" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
  brew "cookiecutter"
  brew "azure-cli"
  brew "terraform"
  brew "terragrunt"
  brew "terraenv"
  brew "vault"
  brew "pre-commit"
  brew "argocd"
  brew "glab"

  cask "drawio"
  cask "microsoft-teams"
  cask "docker"
  cask "zoom"

EOF

mas install 462054704 # Microsoft Word
mas install 1295203466 # Microsoft Remote Desktop
mas install 985367838 # Outlook

{{ end -}}
