{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash


# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

printf '\nInstalling Brew packages and casks...\n'

brew tap homebrew/cask-fonts

brew bundle --no-lock --file=/dev/stdin <<EOF
  brew "awscli"
  brew "chezmoi"
  brew "coreutils"
  brew "exa"
  brew "fd"
  brew "fzf"
  brew "gnupg"
  brew "helm"
  brew "htop"
  brew "jq"
  brew "k9s"
  brew "kubernetes-cli"
  brew "lazygit"
  brew "mas"
  brew "ncdu"
  brew "neovim"
  brew "node"
  brew "ripgrep"
  brew "stylua"
  brew "telnet"
  brew "tmux"
  brew "tree"
  brew "wget"
  brew "yq"
  brew "rclone"
  brew "bat"
  brew "httpie"
  brew "starship"

  cask "google-cloud-sdk"
  cask "font-hack-nerd-font"
  cask "1password-cli"
  cask "1password"
  cask "firefox"
  cask "monitorcontrol"
  cask "keka"
  cask "kitty"
  cask "iterm2"
  cask "keepingyouawake"
  cask "discord"
  cask "visual-studio-code"
  cask "vlc"
  cask "shottr"
  cask "forklift"
  cask "raycast"
  cask "surfshark"
  cask "hiddenbar"
  cask "todoist"
  cask "contexts"
  cask "fantastical"
EOF


printf '\nInstalling MacAppStore apps...\n'
mas install 1592844577 # Neo Noir
mas install 1166066070 # Bumpr
mas install 497799835  # XCode
mas install 688211836  # EasyRes
mas install 1147396723 # WhatApp
mas install 1091189122 # Bear
mas install 1591303229 # Vingear
mas install 1601151613 # Baking Soda
mas install 409183694  # Keynote
mas install 409203825  # Numbers
mas install 409201541  # Pages
mas install 1474335294 # GoodLinks

{{ end -}}
