{{- if eq .chezmoi.username "oktavius_wiesner" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

  cask "tinymediamanager"
  cask "jdownloader"
  cask "balenaetcher"
  cask "steam"
  cask "downie"
  cask "vmware-fusion"
  cask "wireguard-go"
EOF

mas install 824183456  # Affinity Photo
mas install 1136220934 # Infuse 7
mas install 1511416593 # JoyKeyMapper
mas install 1444636541 # Photomator 
mas install 1289583905 # Pixelmator Pro 
mas install 1246969117 # Steam Link 
mas install 1437809329 # Surfshark 
mas install 1568924476 # Mela – Recipe Manager 
{{ end -}}
