{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash


printf '\nSet some default configs only once...\n'


printf '\nEnable fzf keybindungs and autocompletion for mac...\n'
$(brew --prefix)/opt/fzf/install

{{ end -}}
