alias vim='lvim'
alias nvim'lvim'
alias dircolors="gdircolors"
alias cdgith="cd {{ .chezmoi.homeDir }}/Documents/GitHub/"
alias cdgitl="cd {{ .chezmoi.homeDir }}/Documents/GitLab/"
alias ..="cd .."
alias wow="git status"
alias c="code ./"
alias lg="lazygit"
alias tf="terraform"
alias tfa="terraform apply"
alias tfp="terraform plan"
alias tfi="terraform init"
alias tg="terragrunt"
alias tgp="terragrunt plan"
alias tga="terragrunt apply"
alias cm="chezmoi"
alias cmedit="chezmoi edit --apply" # Directly apply changes 
alias cat="bat"

{{- if eq .chezmoi.hostname "162579s0" }}
#INTEL MAC ALIAS
alias ls="/opt/homebrew/opt/coreutils/libexec/gnubin/ls -l --color=auto"
alias pmake='export http_proxy=http://meta-proxy.netrtl.com:8080 https_proxy=http://meta-proxy.netrtl.com:8080 no_proxy="*.netrtl.com,.netrtlsrv.com,localhost,127.0.0.1" VAULT_ADDR=https://vault.shared.secrets.prod.da-service.io && make'
alias up='export http_proxy=http://meta-proxy.netrtl.com:8080 https_proxy=http://meta-proxy.netrtl.com:8080 no_proxy="*.netrtl.com,.netrtlsrv.com,localhost,127.0.0.1" VAULT_ADDR=https://vault.shared.secrets.prod.da-service.io'
alias upp='unset http_proxy https_proxy no_proxy VAULT_ADDR'

{{ else }}
# MAKE AN ALIAS FOR M1 MAC
alias ls="/opt/homebrew/opt/coreutils/libexec/gnubin/ls -l --color=auto"
{{- end }}

alias ll="ls -lah --color=auto"

